#cajon {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    height: 2em;
    width: 2em;
    margin: 1em;
    transition: 1s;
}
.caja:hover {
    border-radius:10% 24% 50% 30%;
    transition: 1s;
}

.a {
    background-color:aqua;
}
.b {
    background-color:blueviolet;
}
.c {
    background-color:rgb(0, 0, 0);
}
.d {
    background-color:rgb(194, 115, 147);
}
.e {
    background-color:rgb(2, 91, 69);
}
.f {
    background-color:rgb(60, 24, 24);
}
.g {
    background-color:rgb(33, 0, 63);
}
.h {
    background-color:rgb(208, 255, 0);
}
.i {
    background-color:rgb(197, 0, 167);
}
.j {
    background-color:rgb(60, 55, 65);
}